@using Microsoft.Extensions.Configuration
@using PagedList.Core
@using PagedList.Core.Mvc
@using Ec2Manager.Models.DataManagement
 
@inject IConfiguration Configuration
@model SearchResult
@{
    ViewData["Title"] = "Home";
    ViewData["SearchQuery"] = Model.SearchData.SearchQuery;
    ViewData["SearchType"] = Model.SearchData.SearchType;
}
@{
    var hasResult = Model.SearchHits != null && Model.SearchHits.TotalItemCount > 0;
}
@if (!hasResult)
{
    <div class="text-center">
        <img class="figure-img" src="~/images/warning.png" />
        <p>No matches were found for <strong>"@Model.SearchData.SearchQuery"</strong> in <strong>"@Model.SearchData.SearchType"</strong></p>
        <a asp-action="Index" asp-controller="Home">
            Return to List
        </a>
    </div>
}
@if (hasResult)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    @if (Model.SearchData.SortOrder == "name")
                    {
                        Model.SearchData.SortOrder = "name_desc";
                        @Html.ActionLink(@Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().Name), "GET", "Home", Model.SearchData);
                        @*<a asp-action="Index" asp-controller="Home" asp-route-searchdata="@Model.SearchData">
                @Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().Name)
            </a>*@
                    }
                    else
                    {
                        Model.SearchData.SortOrder = "name";
                        @Html.ActionLink(@Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().Name), "GET", "Home", Model.SearchData);
                        @*<a asp-action="Index" asp-controller="Home" asp-route-searchtype="@Model.SearchData">
                @Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().Name)
            </a>*@
                    }
                </th>
                <th>
                    @if (Model.SearchData.SortOrder == "account")
                    {
                        <a asp-action="Index" asp-controller="Home" asp-route-searchtype="@Model.SearchData.SearchType" asp-route-query="@Model.SearchQuery" asp-route-sortorder="account_desc">
                            @Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().Account)
                        </a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-controller="Home" asp-route-searchtype="@Model.SearchType" asp-route-query="@Model.SearchQuery" asp-route-sortorder="account">
                            @Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().Account)
                        </a>
                    }
                </th>
                <th>
                    @if (Model.SortOrder == "status")
                    {
                        <a asp-action="Index" asp-controller="Home" asp-route-searchtype="@Model.SearchType" asp-route-query="@Model.SearchQuery" asp-route-sortorder="status_desc">
                            @Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().Status)
                        </a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-controller="Home" asp-route-searchtype="@Model.SearchType" asp-route-query="@Model.SearchQuery" asp-route-sortorder="status">
                            @Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().Status)
                        </a>
                    }

                </th>
                <th>
                    @if (Model.SearchData.SortOrder == "ipaddress")
                    {
                        Model.SearchData.SortOrder = "ipaddress_desc";
                        @Html.HiddenFor(m => m.SearchData.SortOrder)
                        @Html.ActionLink(@Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().IpAddress), "Index", "Home", Model.SearchData)
                        @*<a asp-action="Index" asp-controller="Home" asp-route-searchdata="@Model.SearchData" >
                @Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().IpAddress)
            </a>*@
                    }
                    else
                    {
                        Model.SearchData.SortOrder = "ipaddress";
                        @Html.ActionLink(@Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().IpAddress), "Index", "Home", Model.SearchData);
                        @*<a asp-action="Index" asp-controller="Home" asp-route-searchdata="@Model.SearchData">
                @Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().IpAddress)
            </a>*@
                    }
                </th>
                <th>
                    @if (Model.SortOrder == "id")
                    {
                        <a asp-action="Index" asp-controller="Home" asp-route-searchtype="@Model.SearchType" asp-route-query="@Model.SearchQuery" asp-route-sortorder="id_desc">
                            @Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().Id)
                        </a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-controller="Home" asp-route-searchtype="@Model.SearchType" asp-route-query="@Model.SearchQuery" asp-route-sortorder="id">
                            @Html.DisplayNameFor(Model => Model.SearchHits.FirstOrDefault().Id)
                        </a>
                    }

                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SearchHits)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(item.StatusImage)" alt="statusimage" sizes="" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IpAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        
                        @if (item.CanStart && @item.Status.Equals("stopped"))
                        {
                            <div style="text-align:center">
                                <a asp-action="Enable" class="btn btn-primary btn-outline-success" data-toggle="modal" data-target="#enableModal-@item.Id">Enable</a>
                            </div>
                            <div class="modal fade" id="enableModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="enableModallLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="enableModalLabel">Enable Instance</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        @using (Html.BeginForm("Enable", "Home", new { Id = item.Id, account = item.Account, searchtype = Model.SearchType, query = Model.SearchQuery, page = Model.Page, sortorder = Model.SortOrder }, FormMethod.Post))
                                        {
                                            <div class="modal-body">
                                                <p>Are you sure you want to Enable this Instance?</p>
                                                <p> - Instance Id: @item.Id</p>
                                                <p> - Instance Name: @item.Name</p>
                                                <p> - Instance Ip: @item.IpAddress</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-success">Enable</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        @if (@item.CanReboot && @item.Status.Equals("running"))
                        {
                            <a asp-action="Reboot" class="btn btn-primary btn-outline-warning" data-toggle="modal" data-target="#rebootModal-@item.Id">Reboot</a>
                            <div class="modal fade" id="rebootModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="rebootModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="rebootModalLabel">Reboot Instance</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        @using (Html.BeginForm("Reboot", "Home", new { Id = item.Id, account = item.Account, searchtype = Model.SearchType, query = Model.SearchQuery, page = Model.Page, sortorder = Model.SortOrder }, FormMethod.Post))
                                        {
                                            <div class="modal-body">
                                                <p>Are you sure you want to Reboot this Instance?</p>
                                                <p> - Instance Id: @item.Id</p>
                                                <p> - Instance Name: @item.Name</p>
                                                <p> - Instance Ip: @item.IpAddress</p>
                                                <p>The User will <b>NOT</b> be made aware of the impending reboot!</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-warning">Reboot</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <a asp-action="Stop" class="btn btn-primary btn-outline-danger" data-toggle="modal" data-target="#stopModal-@item.Id">Stop</a>
                            <div class="modal fade" id="stopModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="stopModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="stopModalLabel">Stop Instance</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        @using (Html.BeginForm("Stop", "Home", new { Id = item.Id, account = item.Account, searchtype = Model.SearchType, query = Model.SearchQuery, page = Model.Page, sortorder = Model.SortOrder }, FormMethod.Post))
                                        {
                                            <div class="modal-body">
                                                <p>Are you sure you want to Stop this Instance?</p>
                                                <p> - Instance Id: @item.Id</p>
                                                <p> - Instance Name: @item.Name</p>
                                                <p> - Instance Ip: @item.IpAddress</p>
                                                <p>The User will <b>NOT</b> be made aware of the impending stop!</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-danger">Stop</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
        <div class="container">
            <pager class="pager-container" list="@Model.SearchHits" options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext" asp-action="Index" asp-controller="Home" asp-route-searchtype="@Model.SearchType" asp-route-query="@Model.SearchQuery" asp-route-sortorder="@Model.SortOrder" />
        </div>
    </nav>
}

